.navbar-links {
  display:contents;
  transition: transform 0.3s ease;
}
.navbar-link {
  color: white;
  text-decoration: none;
  font-size: clamp(16px, 1vw, 100px);
  transition: color 0.3s ease;
  text-wrap: nowrap;
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.navbar-link:hover {
  color: #ddd;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #486989;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: clamp(14px, 0.9vw, 90px);
}

.dropdown-menu.open {
  display: block;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.dropdown-item {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  border-radius: 5px;
  background-color: #00496d;
}

.navbar-link:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.lang-switch {
  display: inline-flex;
  align-items: center;
  font-size: clamp(16px, 1vw, 100px);
  gap: 4px;
  color: white;
  font-weight: bold;

}
.lang-switch button {
  background: none;
  border: none;
  font-size: clamp(16px, 1vw, 100px);
  cursor: pointer;
  color:white
}

.lang-switch button.active {
  color: rgb(0, 100, 125);
}

@media (min-width: 769px) {
  .dropdown:hover .dropdown-menu {
    display: block; 
  }
  .navbar-logo{
    height: 7vw;
  }
}
@media (max-width: 768px) {
  .navbar-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .navbar {
      display: block;
      padding: 0 5vw;
      position: relative;
    }
  .mob-links{
    flex-direction: column;
    display: inline-block;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: static;
    left: 0;
    width: 100%;
    background-color: #ffffff00;
    padding: 20px;
    padding-bottom: 20%;
    z-index: 1;
  }
  .navbar-logo .logo {
      width: 20vw; 
    }
    .navbar-link {
      font-size: 5vw;
      transition: color 0.3s ease;
    }

  .hamburger {
    position: relative;
    align-items: center;
    justify-content:center;
    justify-self: end;
    display: flex;
  }

  .navbar-links.open {
    display: flex;
  }
  .dropdown-menu {
      position: static;
      width: 100%;
      display: none;
      border-radius: 0px;
  }  
    .dropdown-menu.open {
      display: block;
  }
  .lang-switch {
    gap: 2px;
    font-size: 5vw;
  }
  .lang-switch button {
    font-size: 5vw;
  }
  .lang-switch button.active {
  color: rgb(1, 74, 92);
}
}
